<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tasks</title>
</head>
<body>
        <a href="/view" style="float:right">Cases</a>
       <ul>
       {% for task in tasks %}
           <li>{{task.taskname}} </li>
           <li>{{task.taskdate}}</li>
           <li>{{task.taskdesc}} </li>
           <li>{{task.taskmanager}} </li>

           <a href="/edittask/{{task.taskname}}">Edit</a>
           <a href="/deletetask/{{task.taskname}}">Delete</a>

        {% endfor %}
        </ul>

</body>
</html>
