<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cases</title>
</head>
<body>
    <a href="{% url 'dashboard' %}" style="float:right">Home</a>
    <ul>
       {% for case in cases %}

                <li>{{case.caseid}} </li>
                <li>{{case.casename}} </li>
                <li>{{case.casedate}} </li>
                <li>{{case.casedesc}} </li>
                <li>{{case.casemanager}} </li>

                <a href="/viewtask/{{case.caseid}}">Tasks</a>
                <a href="/addtask/{{case.caseid}}">Add Tasks</a>
                <a href="/editcase/{{case.caseid}}">Edit Case</a>
                <a href="/deletecase/{{case.caseid}}">Delete</a>

        {% endfor %}
    </ul>


    <a href="{% url 'addcase' %}">New Case</a>
</body>
</html>
